.imagem{
    display: flex;
    justify-content: center; 
    margin-left: 400px;
    animation: go-back 6s;
    transition: transform 1s;
    transform: translateY(10px) scale(1.2);
}
@keyframes go-back {
    from {
      transform: translateX(100px);
    }
    to {
      transform: translateX(0);
    }
  } 
  
.imagem:focus{
    transform: translateY(60px) scale(1,9);
}

.w3-container{
  color: white;
}